torch==2.1.0
torchvision==0.16.0
numpy
tqdm
tensorboard
matplotlib
pandas

speechbrain~=0.5.12
datasets
torch_audiomentations
git+https://github.com/Spijkervet/torchaudio-augmentations.git
git+https://github.com/facebookresearch/WavAugment
editdistance
wandb
pyctcdecode
torchaudio~=2.1.0
pillow
librosa

